@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    width: 768px;
    margin: 40px auto;
    background-color: hsl(135, 98%, 84%);
    color: hsl(135, 98%, 10%);
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

h1{
    font-weight: 400;
    margin-bottom: 40px;
}

#cajaTexto{
    padding: 12px 24px;
    border-radius: 8px;
    background-color: hsl(135, 98%, 16%);
    color: hsl(135, 98%, 80%);
    font-size: 32px;
}

#caja{
    width: 180px;
    height: 180px;
    background-color: #999;
    padding: 24px;
    margin: 24px;
    border-radius: 16px;
    color: white;
    transition: 500ms;
}
/* #caja:hover{
    background-color: #f60;
    rotate: 45deg;
} */

nav a{
    background-color: hsl(197, 71%, 73%);
    padding: 8px 24px;
    border-radius: 8px;
    text-decoration: none;
    color: hsl(135, 98%, 10%);
    border: 1px solid #fff;
    transition: 500ms;
}
nav a:hover{
    background-color: hsl(197, 71%, 80%);
}